body *{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    border: 5px;
    border-radius: 10px;
background-color: aliceblue;
}
div *{
    border-radius: 10px;
background-color: aliceblue;
border: none;
}

canvas {
    border: 1px solid #000;
    display: block;
}

.notification {
    background-color: rgba(255, 165, 0, 0.9);
    color: #000;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* Initially hidden */
    z-index: 100;
}
